.header{
    width: 100%;
    padding: 1rem 2rem;
    @include flex;
    gap: 1rem;
    background-color: $white;

    h1{
        font-size: $medium;
        color: $black;
    }

    .darkMode{
        cursor: pointer;
        border: transparent;
        background-color: transparent;
        font-size: $small + 0.4rem;
        color: $black;
    }
}

.themes{
    .header{
        background-color: $blackBig;

        h1{
            color: $white;
        }

        .darkMode{
            color: $white;
        }
    }
}